<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GMaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>596379801E9D59D7006FCE30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>596379941E9D59D7006FCE30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5963799F1E9D59D8006FCE30</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
